body {
    margin: 0px;
    padding: 0px;
}
.body {
    background-image: url("build.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.card {
    width: 26%;
    background-color: rgb(120, 180, 162);
    margin-bottom: 30px;
}

.card-body {
    align-content: center;
    align-items: center;
    padding-left: 30px;
    padding-top: 8px;
    padding-bottom: 18px;
    padding-right: 50px;
    font-weight: bold;
}

.card-list {
    margin-top: 61px;
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
    align-content: space-between;
}
.card-company {
    width: 56%;
    background-color: rgb(120, 180, 162);
    margin-bottom: 30px;
    margin-top: 6%;
    margin-left: 23%;
}

.home-container {
    font-family: fantasy;
    text-align: center;
}
.home-container h1 {
    font-size: 59px;
    color: #292b2c;
}

.home-container h2 {
    font-size: 84px;
    color:#f42604;
    border-bottom: 1px solid transparent;    
    transition: all .5s ease-in;
}

.home-container h2:hover {
    font-size: 84px;
    color:#f42604;
    border-bottom: 1px solid #f42604;  
}

.starter-template {
    background-color: white;
    opacity: 0.8;
    min-height: 700px;
}

.text-welcome {
    padding-top: 11%;
}
